[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
xarray = "*"
pyproj = "*"
pandas = "*"
replicate = "*"
webvtt-py = "*"
zoomus = "*"
numpy = "*"
altair = "*"
opencv-python = "*"
ffmpeg-python = "*"
pyngrok = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
supabase = "*"
streamlit-url-fragment = "*"
supabase_auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
